<div class="panel panel-default" id="container">
    <div class="panel-heading" id="heading">
        <h4 class="header-title">{{ contact?.name }}</h4>
        <div class="header-content">
            <img [src]="contact.imageURL" alt="profile-image" id="detail-pic" style="max-height: 150px;">
            <div>
                <a class="btn btn-primary" id="button" [routerLink]="['/contacts', id, 'edit']">Edit</a>
                <a class="btn btn-danger" (click)="onDelete()">Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-content">
            <div class="panel-bold">Email:</div>
            <span>{{ contact?.email }}</span>
        </div>
        <div class="panel-content">
            <div class="panel-bold">Phone</div>
            <span>{{ contact?.phone }}</span>
        </div>
    </div>
</div>
