<div class="panel panel-default" id="container">
    <div class="panel-heading" id="heading">
        <h4 class="header-title">Contacts</h4>
        <a class="btn btn-success" routerLink="/contacts/new">New Contact</a>
    </div>
    <div class="panel-body">
        <cms-contact-item
            *ngFor="let contact of contacts; let i = index"
            [contact]="contact"
            [index] = "i"
            dnd-draggable
            [dragEnabled]="true"
            [dragData]="contact"
            [dropZones]="['contactGroup']"
        >
        </cms-contact-item>
    </div>
</div>
